<div class="wrapper">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Service Title</mat-label>
    <input matInput type="text" placeholder="Title">
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Service Description</mat-label>
    <textarea matInput placeholder="Description" class="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Button Color</mat-label>
    <input matInput type="text" placeholder="Color">
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Service Image</mat-label>
    <input matInput
           aria-label="State"
           [matAutocomplete]="auto"
           >

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option class="img-option">
        <div class="option-container">
          <img class="option-img" src="">
          <span class="option-title">web_dev.jpg</span>
        </div>
      </mat-option>

      <mat-option class="img-option">
        <div class="option-container">
          <img class="option-img" src="">
          <span class="option-title">desktop_dev.jpg</span>
        </div>
      </mat-option>

      <mat-option class="img-option">
        <div class="option-container">
          <img class="option-img" src="">
          <span class="option-title">arduino_dev.jpg</span>
        </div>
      </mat-option>


      <mat-option class="img-option">
        <div class="option-container">
          <img class="option-img" src="">
          <span class="option-title">server_dev.jpg</span>
        </div>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
</div>