@use '@angular/material' as mat;

@include mat.core();
/* For use in src/lib/core/theming/_palette.scss */
$custom-palette-primary: (
  50 : #e7eaed,
  100 : #c2cad2,
  200 : #9aa7b4,
  300 : #728395,
  400 : #53697f,
  500 : #354e68,
  600 : #304760,
  700 : #283d55,
  800 : #22354b,
  900 : #16253a,
  A100 : #7aadff,
  A200 : #478eff,
  A400 : #146fff,
  A700 : #0060f9,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$custom-palette-accent: (
    50 : #eef9f5,
    100 : #d4f0e7,
    200 : #b7e6d7,
    300 : #9adbc7,
    400 : #84d4bb,
    500 : #6eccaf,
    600 : #66c7a8,
    700 : #5bc09f,
    800 : #51b996,
    900 : #3fad86,
    A100 : #ffffff,
    A200 : #ccffec,
    A400 : #99ffd9,
    A700 : #7fffd0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$material-primary: mat.define-palette($custom-palette-primary);
$material-accent:  mat.define-palette($custom-palette-accent, A400, A100, A700);

$material-warn:    mat.define-palette(mat.$red-palette);

$material-theme: mat.define-light-theme((
  color: (
    primary: $material-primary,
    accent: $material-accent,
    warn: $material-warn,
  )
));

@include mat.all-component-themes($material-theme);
