@use '@angular/material' as mat;

@include mat.core();

$custom-palette-primary: (
    50 : #e4f4f3,
    100 : #bbe3e1,
    200 : #8dd1ce,
    300 : #5fbfba,
    400 : #3db1ab,
    500 : #1ba39c,
    600 : #189b94,
    700 : #14918a,
    800 : #108880,
    900 : #08776e,
    A100 : #a7fff7,
    A200 : #74fff3,
    A400 : #41ffee,
    A700 : #27ffec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$custom-palette-accent: (
    50 : #e3e7ec,
    100 : #b9c2d0,
    200 : #8a9ab1,
    300 : #5b7191,
    400 : #38527a,
    500 : #153462,
    600 : #122f5a,
    700 : #0f2750,
    800 : #0c2146,
    900 : #061534,
    A100 : #6d91ff,
    A200 : #3a6aff,
    A400 : #0744ff,
    A700 : #003aec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$material-primary: mat.define-palette($custom-palette-primary);
$material-accent:  mat.define-palette($custom-palette-accent, A200, A100, A400);

$material-warn:    mat.define-palette(mat.$red-palette);

$material-theme: mat.define-light-theme((
  color: (
    primary: $material-primary,
    accent: $material-accent,
    warn: $material-warn,
  )
));

@include mat.all-component-themes($material-theme);
